POSTGRES_DB=rodex
POSTGRES_USER=rodex
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# На сервере добавьте домен:
# https://your-domain.com,https://www.your-domain.com
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SECRET_KEY=change-this-secret-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60

# На сервере поменяйте на:
# VITE_API_BASE_URL=https://your-domain.com
VITE_API_BASE_URL=http://localhost:8000

# На сервере поменяйте на:
# your-domain.com,www.your-domain.com
VITE_ALLOWED_HOSTS=localhost,127.0.0.1

PROXY_TARGET=http://backend:8000